# 保健品市场环境数据分析

In [1]:
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv('保健品.csv')
sub_data = data.loc[:, :'q5_20']
data.head()

,q5_01,q5_02,q5_03,q5_04,q5_05,q5_06,q5_07,q5_08,q5_09,q5_10,...,q5_15,q5_16,q5_17,q5_18,q5_19,q5_20,q8,w1,w2,w6
0,3,3,4,5,5,5,4,5,3,4,...,5,5,2,3,4,4,9,1,4,1
1,5,4,5,5,5,5,5,4,4,4,...,5,5,5,4,4,5,9,1,5,1
2,5,5,5,5,1,1,4,1,1,1,...,5,1,1,5,1,1,9,2,2,8
3,3,5,5,1,1,1,4,5,4,4,...,3,4,4,1,1,5,9,1,4,11
4,5,4,2,2,3,4,4,3,4,3,...,3,4,3,4,5,3,9,1,4,11

```
q5_01	令面色红润	无
q5_02	使皮肤有光泽	无
q5_03	精神状态好	无
q5_04	去斑	无
q5_05	去痘	无
q5_06	去皱	无
q5_07	解决皮肤干燥	无
q5_08	调节内分泌	无
q5_09	延缓皮肤衰老	无
q5_10	去除疲劳	无
q5_11	提高睡眠质量	无
q5_12	消除黑眼圈	无
q5_13	通便润肠	无
q5_14	抗衰老	无
q5_15	提高免疫力	无
q5_16	应该对自己好点	无
q5_17	希望自己像模特一样	无
q5_18	同龄人都在服用	无
q5_19	年轻人对我说该服用	无
q5_20	女为悦己者容	无
q8	主要服用的产品	{1:'太太**',2:'乌鸡**',3:'排毒**',4:'阿*',5:'红桃*',6:'脑白*',7:'朵**',9:'其他'}
w1	婚姻	{1:'未婚', 2:'已婚'}
w2	教育	无
w6	个人收入	无
```

In [9]:
desc = sub_data.describe()
desc

,q5_01,q5_02,q5_03,q5_04,q5_05,q5_06,q5_07,q5_08,q5_09,q5_10,q5_11,q5_12,q5_13,q5_14,q5_15,q5_16,q5_17,q5_18,q5_19,q5_20
count,625.000000,625.000000,625.0000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.00000,625.00000,625.000000,625.000000,625.000000,625.000000,625.000000
mean,3.804800,3.932800,4.1552,3.305600,2.760000,3.276800,3.683200,3.643200,3.750400,3.900800,3.844800,3.139200,3.438400,3.66560,4.03200,3.868800,2.694400,3.036800,3.032000,3.275200
std,1.288625,1.173408,1.0454,1.485308,1.561763,1.545835,1.353576,1.382951,1.371097,1.149031,1.290961,1.406766,1.413011,1.41144,1.18711,1.261639,1.559005,1.386839,1.358355,1.417985
min,1.000000,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,3.000000,4.0000,2.000000,1.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,2.000000,3.00000,3.00000,3.000000,1.000000,2.000000,2.000000,2.000000
50%,4.000000,4.000000,4.0000,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.00000,4.00000,4.000000,2.000000,3.000000,3.000000,3.000000
75%,5.000000,5.000000,5.0000,5.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,5.00000,5.00000,5.000000,4.000000,4.000000,4.000000,5.000000
max,5.000000,5.000000,5.0000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000

In [17]:
corr = sub_data.corr()
corr[corr>0.3] = 9999
corr[corr<=0.3] = 0
corr

,q5_01,q5_02,q5_03,q5_04,q5_05,q5_06,q5_07,q5_08,q5_09,q5_10,q5_11,q5_12,q5_13,q5_14,q5_15,q5_16,q5_17,q5_18,q5_19,q5_20
q5_01,9999.0,9999.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_02,9999.0,9999.0,9999.0,0.0,0.0,0.0,9999.0,0.0,9999.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_03,0.0,9999.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0
q5_04,0.0,0.0,0.0,9999.0,9999.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_05,0.0,0.0,0.0,9999.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_06,0.0,0.0,0.0,9999.0,0.0,9999.0,9999.0,0.0,9999.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_07,9999.0,9999.0,0.0,0.0,0.0,9999.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,9999.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_09,0.0,9999.0,0.0,0.0,0.0,9999.0,0.0,9999.0,9999.0,9999.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,9999.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,9999.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_12,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_14,0.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,9999.0,9999.0,0.0,0.0,0.0,0.0,0.0
q5_15,0.0,0.0,9999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,9999.0,0.0,0.0,0.0,0.0,0.0
q5_16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,0.0,0.0,0.0,0.0
q5_17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,9999.0,9999.0,9999.0
q5_18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,9999.0,9999.0,9999.0
q5_19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,9999.0,9999.0,9999.0
q5_20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9999.0,9999.0,9999.0,9999.0

通过特征相关性分析可得：可以把当前这20道题总结出几个方面作为消费保健品的重要因素：
1. 精神状态
2. 抗衰老
3. 身体健康
4. 外界看法

In [26]:
mean_score = desc.loc['mean'].sort_values(ascending=False)
# 在mean_score 后添加一列，说明每道题目
fields = pd.read_csv('保健品字段介绍.csv', encoding='gbk', header=None, 
                        names=['fid', 'effect', '_'], usecols=['fid', 'effect'],
                        index_col='fid')
fields['mean_score'] = mean_score
fields

          effect  mean_score
fid
q5_01      令面色红润      3.8048
q5_02     使皮肤有光泽      3.9328
q5_03      精神状态好      4.1552
q5_04         去斑      3.3056
q5_05         去痘      2.7600
q5_06         去皱      3.2768
q5_07     解决皮肤干燥      3.6832
q5_08      调节内分泌      3.6432
q5_09     延缓皮肤衰老      3.7504
q5_10       去除疲劳      3.9008
q5_11     提高睡眠质量      3.8448
q5_12      消除黑眼圈      3.1392
q5_13       通便润肠      3.4384
q5_14        抗衰老      3.6656
q5_15      提高免疫力      4.0320
q5_16    应该对自己好点      3.8688
q5_17  希望自己像模特一样      2.6944
q5_18    同龄人都在服用      3.0368
q5_19  年轻人对我说该服用      3.0320
q5_20     女为悦己者容      3.2752
q8       主要服用的产品         NaN
w1            婚姻         NaN
w2            教育         NaN
w6          个人收入         NaN

通过上表可得，多数产品在产品功效上更多关注改善用户的精神状态，其次为抗衰老，再次为身体健康，最后为外界影响。