# demo01_io.ipynb

In [2]:
import pandas as pd
import numpy as np

In [23]:
# 加载csv文件
data = pd.read_csv('CustomerSurvival.csv', header=None, names=['index','pack_type','extra_time','extra_flow','pack_change',
                     'contract','asso_pur','group_user','use_month','loss'],
                  index_col='index', usecols=['index', 'pack_type', 'loss'])
data.head(5)

       pack_type  loss
index
1              1     0
2              1     0
3              1     1
4              1     0
5              1     0

In [28]:
# 读取json字符串
data = pd.read_json('../data/ratings.json')
data

,John Carson,Michelle Peterson,William Reynolds,Jillian Hobart,Melissa Jones,Alex Roberts,Michael Henry
Inception,2.5,3.0,2.5,NaN,3,3.0,NaN
Pulp Fiction,3.5,3.5,3.0,3.5,4,4.0,4.5
Anger Management,3.0,1.5,NaN,3.0,2,NaN,NaN
Fracture,3.5,5.0,3.5,4.0,3,5.0,4.0
Serendipity,2.5,3.5,NaN,2.5,2,3.5,1.0
Jerry Maguire,3.0,3.0,4.0,4.5,3,3.0,NaN

In [32]:
# 输出json
data.to_json(orient='values')

'[[2.5,3.0,2.5,null,3,3.0,null],[3.5,3.5,3.0,3.5,4,4.0,4.5],[3.0,1.5,null,3.0,2,null,null],[3.5,5.0,3.5,4.0,3,5.0,4.0],[2.5,3.5,null,2.5,2,3.5,1.0],[3.0,3.0,4.0,4.5,3,3.0,null]]'