## 上述代码生成6行3列的二维数组

In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.normal(85, 3, (6,3)))
df

           0          1          2
0  85.593242  88.381666  82.975023
1  83.524202  90.850714  88.751430
2  88.763606  85.272390  84.766133
3  83.064712  81.840667  90.761386
4  80.480147  91.593065  87.171216
5  86.399858  84.004496  84.894073

In [9]:
df * 2

            0           1           2
0  171.186484  176.763332  165.950045
1  167.048405  181.701427  177.502860
2  177.527211  170.544780  169.532265
3  166.129423  163.681335  181.522772
4  160.960294  183.186131  174.342431
5  172.799716  168.008993  169.788146

## 快捷键

### ctrl+Enter     Shift+Enter  运行代码 
### a   在上方插入cell
### b   在下方插入cell
### m   把当前cell变为markdown模式
### dd  删除cell